
.certificate-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-around;
    align-items: center;
    gap: 3px;
    margin-top: 50px;
}

.certificate-card {
    padding: 20px;
    background-color: rgba(28, 34, 77, 0.943);
    border-radius: 10px;
    transition: 0.3s;
}

.certificate-card:hover {
    transform: scale(1.05);
    box-shadow: 
    0 0 10px rgba(11, 14, 41, 0.943),
    0 0 20px rgba(2, 8, 41, 0.943);
}

.certificate-card img {
    margin-bottom: 8px;
    width: 200px;
    transition: 0.3s;
}

.certificate-card img:hover {
    transform: scale(1.08);
}

.text {
    margin-left: 20px;
    max-width: 180px;
}

.title {
    width: fit-content;
    font-weight: bold;
    font-size: medium;
    margin: 0;
    padding: 0;
    background: var(--title1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text p {
    color: var(--p);
    font-size: small;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.certificate-btn{
padding: 5px 15px;
border-radius:8px;
border:none;
background: var(--btn);
color:rgba(255, 255, 255, 0.815);
font-weight:500;
width: fit-content;
cursor:pointer;
transition:0.3s ;
}

.certificate-btn:hover{
transform:translateY(-10px);
color: white;
}